.section-2{
    display: flex;
    @media screen and (max-width: 700px) {
            display: block;
    
    }

    
    .left{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 0 60px;
        border-right: 1px solid lightgray;
       
        .img-container {
                background: url(/assets/img/pic02.JPG) center/cover;
                height: 250px;
                width: 80%;
            }
        }

         p{
            width: 80%;
            line-height: 30px;
            margin: 30px 0;
        }

        h3{
            margin: 25px 0 20px;
            font-size: 1.2rem;
            width: 40%;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    
    .right{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 0 60px;
       
        .img-container {
                background: url(/assets/img/pic03.jpg) center/cover;
                height: 250px;
                width: 80%;
            }
        }

         p{
            width: 80%;
            line-height: 30px;
            margin: 30px 0;
        }

        h3{
            margin: 25px 0 20px;
            font-size: 1.2rem;
            width: 40%;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        
        
}
   